<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{#each posts}}
    <div style="background:yellowgreen ; margin: 5px;">
        
        <h1>{{this.title}}</h1>
        <img src="{{this.filepath}}" width="100" height="100">
        
    </div> 
    {{/each}}   
</body>
</html>