<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>پست ها</title>
  <link rel="stylesheet" href="./style.css">

<style>
 @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700');

body {
font-family: 'Fira Sans', sans-serif;
margin: 0;  
}

.top-bar {
    
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
}

.page-icon-container {
    display: inline-block;
    margin-right: 2%;
    padding-right: 3%;
    border-right: 2px solid #fff;
    line-height: 32px;
    text-align: right;
    vertical-align: middle;
    width: 19%;
}

.page-icon-container img {
  vertical-align: middle;
}

.logo-container {
    display: inline-block;
    width: 56%;
    vertical-align: middle;
}

.logo-container img {
  height: 50px;
  margin-top: 15px;
}

.menu-icon-container {
    display: inline-block;
    line-height: 32px;
    vertical-align: middle;
}

.menu-icon-container img {
  vertical-align: middle;  
}

.instagram-post {
  background: #f7f7f7;
  margin: 0 auto;
  
  width: 70%;
}

.first-post {
  padding-top: 89px;
}
.instagram-post-top {
  padding: 15px 35px;
  line-height: 45px;
  vertical-align: middle;
}

.instagram-post-top img {
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
  width: 45px;
}

span.username {
  font-weight: 600;
  vertical-align: middle;
}

span.more-options {
    background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
    background-repeat: no-repeat;
    background-position: -78px -210px;
    float: right;
    height: 24px;
    position: relative;
    top: 11px;
    vertical-align: middle;
    width: 24px;
}

.post-container img {
  width: 100%;
}

.instagram-post-bottom {
  padding: 15px 45px;  
}

.instagram-like-icon {
    background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
    background-repeat: no-repeat;
    background-position: -71px -138px;
    float: left;
    margin-right: 20px;
    vertical-align: middle;
     
    width: 30px;
    height: 30px
}

.instagram-comment-icon {
    background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
    background-repeat: no-repeat;
    background-position: -184px -52px;
    float: left;
    height: 24px;
    vertical-align: middle;
    width: 24px;   
}

.instagram-bookmark-icon {
    background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
    background-repeat: no-repeat;
    background-position: -182px -184px;
    float: right;
    height: 24px;
    vertical-align: middle;
    width: 24px;   
}

.likes-amount {
    display: block;
    font-weight: 600;
    margin-top: 25px;
    text-align: left;
}

.instagram-caption .username {
  margin-right: 5px;
  margin-top: -3px;
  vertical-align: top;
}

.timestamp {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
</style>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="top-bar">
  <div class="page-icon-container">
    <form method="post" action="/homepage">
      <input type="image"src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533407640/home.png" alt="صفحه اول">
     </form>
  </div>
  <div class="logo-container">
    <h1 style="color: white; font-family: 'IRDast Nevis'"> پست های قرار داده شده توسط اساتید </h1>
  </div>
 
</div>  

{{#each posts}}
 
<div class="instagram-post first-post">
  <div class="instagram-post-top">
       <img src="http://uupload.ir/files/bpcj_ali.jpg" alt="avatar" />
    <span class="username">alibehranvand{{username}}</span><span class="more-options"></span>
  </div>     
  <div class="post-container">
  <img src="{{this.filepath}}" alt=" post:id" />
  </div>
  <div class="instagram-post-bottom">
    <form action="/likes" method="POST">
    <button type="submit"  class="instagram-like-icon"></button> 
    <input type="hidden" value="{{id}}" name="id" >
    </form>

    {{!-- <form action="/view_comments" method="POST"> --}}
    {{!-- <input type="hidden" value="{{id}}" name="id" > --}}
    <a class="instagram-comment-icon" href="comments/{{this.id}}"></a>
    <span class="instagram-bookmark-icon"></span>  
    
    {{!-- </form> --}}
    

    <br>
    <span class="likes-amount" style="color: red;">{{likes}} likes</span>
    <br>
    <div class="instagram-caption" style="direction: rtl; text-align: right;">
      <span class="username" style="font-family: 'B Titr';">{{this.title}}</span> <h1 style="font-family: 'b nazanin';">{{this.text}}</h1>
    </div>  
    <br>
    <span class="timestamp">{{post_date}}</span>
  </div>  
</div> 
{{/each}}

<!-- partial -->
  
</body>
</html>


<input type="hidden" value="{{id}}" name="id" >