<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>پیام های دانشجویان</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="./style.css">
<style>
    html{
    background: linear-gradient(#E04C1B ,#DC2C41);
  }
  h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'B Titr';
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 16px;
  color: rgb(0, 0, 0);
  border-bottom: solid 1px rgba(37, 37, 37, 0.219);
  font-family: 'b nazanin';
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}



/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  border: none;
}

::-webkit-scrollbar-corner {
  background: #1D1F33;
}
</style>
</head>
<body>
<!-- partial:index.partial.html -->
<section>
  <!--for demo wrap-->
  <h1 style="font-family:'IRDast Nevis';color: ;">پیام های فرستاده شده به صفحه شما</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>شماره</th>
          <th>نام کاربری</th>
          <th>متن پیام</th>
          
          
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
      {{#each message}}
        <tr>
          <td>{{id}}</td>
          <td> {{username}} </td>
          <td>{{text}} </td>
          
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>



</body>
</html>