<!DOCTYPE html>
<html lang="fa" >
<head>
  <meta charset="UTF-8">
  <title> پنل استاد</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css'>
<link rel="stylesheet" href="../public/teacher.css">



<style>
    @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900|Dosis:300,400,600,700,800|Droid+Sans:400,700|Lato:300,400,700,900|PT+Sans:400,700|Ubuntu:300,400,500,700|Open+Sans:400,300,600,700|Roboto:400,300,500,700,900|Roboto+Condensed:400,300,700|Open+Sans+Condensed:300,700|Work+Sans:400,300,700|Play:400,700|Maven+Pro:400,500,700,900&subset=latin,latin-ext);
* {
  box-sizing: border-box;
}

html {
  background-color: #1D1F33;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: "Ubuntu", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="text"] {
  background-color: rgb(255, 255, 255);
  border: 0;
  padding: 8px 1.5em;
  border-radius: 1.5em;
  width: 400px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  outline: 0;
  font-family: 'b nazanin';
  text-align: right;
  direction: rtl;
  font-weight: bold;
}
input:hover {
  filter: drop-shadow(10px 10px 3px rgba(252, 72, 36, 0.5));
}

button {
  padding: 0.75em 1.25em;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1.5em;
  background-color: transparent;
  color: #F8F6FF;
  font-weight: 300;
  font-family: "Ubuntu", "Helvetica", "Arial", sans-serif;
  outline: 0;
  transition: background-color .2s ease;
}
button i {
  padding-right: 0.5em;
  color: rgb(255, 255, 255);
}
button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

header {
  background-image: linear-gradient(45deg, #df4701 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: -60px;
  height: 60px;
  left: 0;
  right: 0;
  display: flex;
}
header .left-panel {
  width: 200px;
  display: flex;
  align-items: center;
  padding: 0 1em;
}
header .left-panel .logo {
  flex: 1;
  font-size: 1.25em;
  color: #F8F6FF;
}
header .left-panel .menu-button {
  cursor: pointer;
}
header .content {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 4em;

}
header .content .add-contact {
  margin-right: 2em;
  cursor: pointer;
  transition: color .2s ease;
}
header .content .add-contact i {
  padding-right: 0.5em;
}
header .content .add-contact:hover {
  color: #F8F6FF;
}
header .content .icons {
  padding-left: 2em;
  border-left: 1px solid #686681;
}
header .content .icons i {
  padding: 0 0.5em;
  position: relative;
  cursor: pointer;
}
header .content .icons i.active {
  color: #F8F6FF;
}
header .content .icons i.active:after {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: pink;
  border: 3px solid #8e707f;
  position: absolute;
  top: -5px;
  right: 2px;
}
header .content .icons i:hover {
  color: #F8F6FF;
}
header .user-panel {
  display: flex;
  align-items: center;
  padding: 0 1em;
}
header .user-panel .name {
  color: #F8F6FF;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
header .user-panel .avatar {
  width: 32px;
  height: 32px;
  margin: 0 1em;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  background-image: url("http://uupload.ir/files/bpcj_ali.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
header .user-panel .logout {
  padding: 0 1em;
  border-left: 1px solid #686681;
  cursor: pointer;
  transition: color .2s ease;
}
header .user-panel .logout:hover {
  color: #F8F6FF;
}

body {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  font-family: 'IRDast Nevis';
  background-image: linear-gradient(#E04C1B ,#DC2C41)
}

nav {
  background-image:linear-gradient(#E15215, #DC2A43 ,#C72070);
  min-width: 200px;
  display: flex;
  flex-direction: column;
}
nav .menu {
  flex: 1;
  padding: 1em 2em;
  overflow: auto;
}
nav .menu .group .title {
  display: flex;
  align-items: center;
  padding: 1em 0;
  font-size: 1.2em;
  font-weight: 300;
  cursor: pointer;
}
nav .menu .group .title span {
  flex: 1;
  color: #F8F6FF;
}
nav .menu .group .title .arrow {
  font-size: 0.8em;
}
nav .menu .group .title:hover .arrow {
  color: #F8F6FF;
}
nav .menu .group ul {
  padding: 0;
  list-style: none;
}
nav .menu .group ul li {
  display: flex;
  align-items: center;
  padding: 1em 0;
  cursor: pointer;
}
nav .menu .group ul li span {
  flex: 1;
  transition: color .2s ease;
}
nav .menu .group ul li .icon {
  width: 24px;
  padding-right: 1em;
}
nav .menu .group ul li .icon i {
  color: #ffffff;
}
nav .menu .group ul li .icon .avatar {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #82809A;
  background-image: url("http://uupload.ir/files/bpcj_ali.jpg");
  background-size: cover;
  background-position: center;
}
nav .menu .group ul li:hover span {
  color: #F8F6FF;
}
nav .footer {
  display: flex;
  background-color: #38375A;
  padding: 0.5em 1em;
  align-items: center;
}
nav .footer .amount {
  flex: 1;
  font-size: 1.3em;
  color: #7685C2;
}
nav .footer button {
  background-color: #6080E0;
  color: #F8F6FF;
  border: 0;
  padding: 0.75em 1em;
  font-weight: 300;
  font-size: 0.9em;
  font-family: "Ubuntu", "Helvetica", "Arial", sans-serif;
  border-radius: 1.5em;
  outline: none;
  transition: background-color .2s ease;
}
nav .footer button:hover {
  background-color: #355ed8;
}

main {
  flex: 1;
  display: flex;
  margin: 0 2em;
  overflow: auto;
  background-image: linear-gradient(#E04C1B ,#DC2C41);
}
main section {
  margin: 1em;
}
main section .title {
  display: flex;
  padding: 1em 0;
  color: #F8F6FF;
  font-weight: 300;
}
main section .title i {
  margin-right: 1em;
}
main section .title span {
  font-size: 1.5em;
  flex: 1;
}
main section .title .sort {
  display: flex;
  font-size: 0.8em;
}
main section .title .sort .caption {
  color: #82809A;
  padding-right: 0.5em;
}
main section .title .sort i.fa {
  color: rgb(255, 255, 255);
  padding-left: 1em;
  cursor: pointer;
}
main section .card {
  
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.671);
  border-radius: 5px;
  padding: 1.5em;
  margin: 1em 0;
}
main section.news {
  width: 400px;
}
main section.news .title i {
  color: #F76F9F;
}
main section.news .cards .card {
  display: flex;
  flex-direction: column;
}
main section.news .cards .card .text-posts{
    text-align: right;
    direction: rtl;
    margin-top: 10px;
}
main section.news .cards .card .text-posts p{
    line-height: normal;
    margin: 0 15px;
    line-break: auto;
    font-size: 20px;
    font-family: 'b zar';
    color: white;
}
main section.news .cards .card .content {
  flex: 1;
  display: flex;
}
main section.news .cards .card .content .avatar {
  border-radius: 32px;
  margin-right: 1em;
  overflow: hidden;
  
}
main section.news .cards .card .content .avatar img {
  width: 360px;
  height: 250px;
  border: 1px solid white;
  border-radius: 20px;
  
}
main section.news .cards .card .text{
margin-bottom: 20px;
text-align: center;
font-family: "B Titr";
}

main section.news .cards .card .content .text {
  flex: 1;
}
main section.news .cards .card .footer {
  margin-top: 1.5em;
  display: flex;
}
main section.news .cards .card .footer .time {
  font-size: 0.8em;
}
main section.news .cards .card .footer .center {
  flex: 1;
}
main section.news .cards .card .footer #comments {
  margin-right: 2px;
}
main section.news .cards .card .footer .link {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.9em;
  transition: color .2s ease;
}
main section.news .cards .card .footer .link i {
  padding-left: 0.5em;
}
main section.news .cards .card .footer .link:hover {
  color: rgb(255, 0, 0);
}
main section.timeline {
  flex: 1;
}
main section.timeline .title i {
  color: #F8D480;
}
main section.timeline .cards .card {
  display: flex;
  flex-direction: column;
  width: 835px;
}
main section.timeline .cards .card .content {
  flex: 1;
  display: flex;
  align-items: center;
}
main section.timeline .cards .card .content .avatar {
  border-radius: 32px;
  
  overflow: hidden;
}
main section.timeline .cards .card .content .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 32px;
}
main section.timeline .cards .card .content .input {
  flex: 1;
}
main section.timeline .cards .card .content .input input {
  width: 100%;
}
main section.timeline .cards .card .content .actions {
  margin-left: 1em;
}
main section.timeline .cards .card .content .actions i {
  padding: 0 0.5em;
  cursor: pointer;
}
main section.timeline .cards .card .content .actions i:hover {
  color: #F8F6FF;
}
main section.timeline .cards .card .footer {
  margin-top: 1.5em;
  display: flex;
}
main section.timeline .cards .card .footer .controls {
  flex: 1;
  display: flex;
  align-items: center;
}
main section.timeline .cards .card .footer .controls > div {
  margin: 0 1em;
}

main section.timeline .cards .card .footer .actions button {
  padding: 0.75em 0.8em;
  background-color: #6080E0;
  color: #F8F6FF;
  transition: background-color .2s ease;
  
}
main section.timeline .cards .card .footer .actions button:hover {
  background-color: #355ed8;
}
main section.timeline .cards .card .footer .actions button i {
  padding-right: 0;
  color: #F8F6FF;
}

/* scrollbar design Chrome */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  border: none;
}

::-webkit-scrollbar-corner {
  background: #1D1F33;
}
</style>



</head>
<body>
<!-- partial:index.partial.html -->
<header style="font-family: 'IRDast Nevis' ; font-size: 15px;"> 
  <div class="left-panel">
    <div class="logo">پنل استاد</div>
    <div class="menu-button"><i class="fa fa-bars"></i></div>
  </div>
  <div class="content">
  </div>
  <div class="user-panel">
    <div class="name">{{user.username}}</div>
    <div class="avatar"></div>
    
      <div class="logout" >

            {{!-- <button onclick="myFunction()">Try it</button>

            <script>.
            function myFunction() {
            window.open("/");
            }
            </script> --}}
        <form  action="/logout" method="POST">
        <button type="submit" ><i class="fa fa-sign-out" ><h1 style="font-family: 'IRDast Nevis'">خروج</h1></i></button>
        </form>
      </div>
  </div>
</header>
<nav> 
  <div class="menu" id="myDropdown">
    <div class="group">
      <div class="title"> <span>پروفایل</span>
        <div  class="arrow">
            <button onclick="myfunction()">
                <i class="fa fa-chevron-up"></i> 
        </div>
      </div>
      <ul>
        <li>
          <div class="icon">
            <div class="avatar"></div>
          </div><span>علی بهران وند</span>
        </li>
        <li>
          <div class="icon"><i class="fa fa-edit"></i></div><span><a onclick="upload-file()" style="text-decoration: none; color: white;" href="/teacher"> ویرایش نام کاربری </a></span>
        </li>
        <li>
          <div class="icon"><i class="fa fa-lock"></i></div><span><a style="text-decoration: none; color: white;" href="/message">پیام های شخصی</a></span>
        </li>
        <li>
          <div class="icon"><i class="fa fa-folder"></i></div><span><a style="text-decoration: none; color: white;" href="/public/uploads">فایل های آپلود شده</a></span>
        </li>
        <li>
          <div class="icon"><i class="fa fa-user-plus"></i></div><span><a style="text-decoration: none; color: white;" href="/list_of_student">لیست دانشجویان</a></span>
        </li>
       
      </ul>
    </div>
  </div>
</nav>
<main>


    {{!-- postsss********* --}}
  <section class="news">
    <div class="title"><i class="fa fa-flash"></i><span>پست های قبلی</span></div>
    {{#each posts}}
    <div class="cards">
        
      <div class="card">
        <div class="text"><h1>{{this.title}}</h1></div>
        <div class="content">
          <div class="avatar"><img src="{{this.filepath}}" alt=" post1"/></div>
        
        </div>
        <div class="text-posts"><p>{{text}}</p></div>
        <div class="footer">
          <div class="time" style="width: 39px;">{{post_date}}</div>
          <div class="center"></div>
          <form action="/delete-post" method="POST" >
          <input type="hidden" value="{{id}}" name="id" >
          <button  id="comments" type="submit" class="link"><span>حذف پست</span><i class="fa fa-caret-right"></i>
          </form>
          <form action="/view_comments" method="POST">
          <button type="submit" class="link"><span>کامنت ها</span><i class="fa fa-caret-right"></i>
          <input type="hidden" value="{{id}}" name="id" >
          </form>
          </div>
          
          
        </div>
      </div>
        
      
    </div>
    
    {{/each}}
  </section>
  <section class="timeline">
    <form class="form" action="/newpost" method="POST" enctype="multipart/form-data">
        <div style="position: fixed ; margin-bottom: 5px;" class="title"><i class="fa fa-flag"></i><span>اضافه کردن پست جدید</span></div>
        <div class="cards">
            <div style="position: fixed;margin-top: 60px;" class="card">
                <div class="content">
                    
                
                <div style="position: relative;z-index: 0;" class="input">
                  <div class="avatar"><img style="margin-left: 50px;border: 1px solid white;" src="http://uupload.ir/files/bpcj_ali.jpg"/></div>
                    <input style="margin-left: 580px;margin-top: 5px ;width: 150px;" type="text" name="title" placeholder="عنوان پست"/>
                    <input style="margin-left: 580px;margin-top: 5px ;width: 150px;" type="text" name="category" placeholder="نام درس مورد نظر"/>
                    <input style="margin-left: 30px;margin-top: 5px;width: 700px;" type="text" name="text" placeholder="متن  را وارد کنید..."/>
                   
                </div>
                <div class="actions">
                    	<input type="file" name="image" id="file-6"  style="width: 0.1px;height: 0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;">
					              <label for="file-6">
                            <figure>
                                <i style="font-size: 20px;" class="fa fa-paperclip"></i>
                            </figure>
                            <span></span>
                        </label>
                </div>
                </div>
            
            <div class="footer">
           
                <div class="actions">
                    <button type="submit" class="send"><i class="fa fa-paper-plane"></i></button>
                </div>
            </div>
            </div>
        </div>
    </form>
  </section>
</main>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  
</body>
</html>