@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700');

body {
font-family: 'Fira Sans', sans-serif;
margin: 0;  
}

.top-bar {
    padding: 10px 0;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
}

.page-icon-container {
    display: inline-block;
    margin-right: 2%;
    padding-right: 3%;
    border-right: 2px solid #fff;
    line-height: 32px;
    text-align: right;
    vertical-align: middle;
    width: 19%;
}

.page-icon-container img {
  vertical-align: middle;
}

.logo-container {
    display: inline-block;
    width: 56%;
    vertical-align: middle;
}

.logo-container img {
  height: 50px;
  margin-top: 15px;
}

.menu-icon-container {
    display: inline-block;
    line-height: 32px;
    vertical-align: middle;
}

.menu-icon-container img {
  vertical-align: middle;  
}

.instagram-post {
  background: #f7f7f7;
  margin: 0 auto;
  padding-bottom: 60px;
  width: 70%;
}

.first-post {
  padding-top: 89px;
}
.instagram-post-top {
  padding: 15px 35px;
  line-height: 45px;
  vertical-align: middle;
}

.instagram-post-top img {
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
  width: 45px;
}

span.username {
  font-weight: 600;
  vertical-align: middle;
}

span.more-options {
    background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
    background-repeat: no-repeat;
    background-position: -78px -210px;
    float: right;
    height: 24px;
    position: relative;
    top: 11px;
    vertical-align: middle;
    width: 24px;
}

.post-container img {
  width: 100%;
}

.instagram-post-bottom {
  padding: 15px 45px;  
}

.instagram-like-icon {
    background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
    background-repeat: no-repeat;
    background-position: -72px -138px;
    float: left;
    height: 24px;
    margin-right: 20px;
    vertical-align: middle;
    width: 24px;  
}

.instagram-comment-icon {
    background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
    background-repeat: no-repeat;
    background-position: -184px -52px;
    float: left;
    height: 24px;
    vertical-align: middle;
    width: 24px;   
}

.instagram-bookmark-icon {
    background: url(https://res.cloudinary.com/jorpdesigns/image/upload/v1533421516/sprite.png);
    background-repeat: no-repeat;
    background-position: -182px -184px;
    float: right;
    height: 24px;
    vertical-align: middle;
    width: 24px;   
}

.likes-amount {
    display: block;
    font-weight: 600;
    margin-top: 25px;
    text-align: left;
}

.instagram-caption .username {
  margin-right: 5px;
  margin-top: -3px;
  vertical-align: top;
}

.timestamp {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}