@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900|Dosis:300,400,600,700,800|Droid+Sans:400,700|Lato:300,400,700,900|PT+Sans:400,700|Ubuntu:300,400,500,700|Open+Sans:400,300,600,700|Roboto:400,300,500,700,900|Roboto+Condensed:400,300,700|Open+Sans+Condensed:300,700|Work+Sans:400,300,700|Play:400,700|Maven+Pro:400,500,700,900&subset=latin,latin-ext);
* {
  box-sizing: border-box;
}

html {
  background-color: #1D1F33;
  color: #82809A;
  font-size: 14px;
  font-family: "Ubuntu", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="text"] {
  background-color: #1D1F33;
  border: 0;
  padding: 0.75em 1.5em;
  border-radius: 1.5em;
  width: 400px;
  color: #F8F6FF;
  outline: 0;
  font-family: "Ubuntu", "Helvetica", "Arial", sans-serif;
}

button {
  padding: 0.75em 1.25em;
  border: 1px solid #616EA9;
  border-radius: 1.5em;
  background-color: transparent;
  color: #F8F6FF;
  font-weight: 300;
  font-family: "Ubuntu", "Helvetica", "Arial", sans-serif;
  outline: 0;
  transition: background-color .2s ease;
}
button i {
  padding-right: 0.5em;
  color: #82809A;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

header {
  background-image: linear-gradient(to right, #38375A, #3F3D69);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: -60px;
  height: 60px;
  left: 0;
  right: 0;
  display: flex;
}
header .left-panel {
  width: 200px;
  display: flex;
  align-items: center;
  padding: 0 1em;
}
header .left-panel .logo {
  flex: 1;
  font-size: 1.25em;
  color: #F8F6FF;
}
header .left-panel .menu-button {
  cursor: pointer;
}
header .content {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 4em;
}
header .content .search-bar {
  flex: 1;
  display: flex;
  align-items: center;
}
header .content .search-bar .filter {
  margin-right: 1em;
}
header .content .search-bar input.query {
  width: 400px;
}
header .content .search-bar button.search {
  margin-left: 1em;
}
header .content .add-contact {
  margin-right: 2em;
  cursor: pointer;
  transition: color .2s ease;
}
header .content .add-contact i {
  padding-right: 0.5em;
}
header .content .add-contact:hover {
  color: #F8F6FF;
}
header .content .icons {
  padding-left: 2em;
  border-left: 1px solid #686681;
}
header .content .icons i {
  padding: 0 0.5em;
  position: relative;
  cursor: pointer;
}
header .content .icons i.active {
  color: #F8F6FF;
}
header .content .icons i.active:after {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: pink;
  border: 3px solid #8e707f;
  position: absolute;
  top: -5px;
  right: 2px;
}
header .content .icons i:hover {
  color: #F8F6FF;
}
header .user-panel {
  display: flex;
  align-items: center;
  padding: 0 1em;
}
header .user-panel .name {
  color: #F8F6FF;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
header .user-panel .avatar {
  width: 32px;
  height: 32px;
  margin: 0 1em;
  border-radius: 50%;
  border: 1px solid #82809A;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGAx2F-QfHKUshwr6pi6yBdYtYl3lvKhbCLhOEyeeUqwf-olUT");
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
header .user-panel .logout {
  padding: 0 1em;
  border-left: 1px solid #686681;
  cursor: pointer;
  transition: color .2s ease;
}
header .user-panel .logout:hover {
  color: #F8F6FF;
}

body {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

nav {
  background-image: linear-gradient(#2E2E49, #22233B);
  min-width: 200px;
  display: flex;
  flex-direction: column;
}
nav .menu {
  flex: 1;
  padding: 1em 2em;
  overflow: auto;
}
nav .menu .group .title {
  display: flex;
  align-items: center;
  padding: 1em 0;
  font-size: 1.2em;
  font-weight: 300;
  cursor: pointer;
}
nav .menu .group .title span {
  flex: 1;
  color: #F8F6FF;
}
nav .menu .group .title .arrow {
  font-size: 0.8em;
}
nav .menu .group .title:hover .arrow {
  color: #F8F6FF;
}
nav .menu .group ul {
  padding: 0;
  list-style: none;
}
nav .menu .group ul li {
  display: flex;
  align-items: center;
  padding: 1em 0;
  cursor: pointer;
}
nav .menu .group ul li span {
  flex: 1;
  transition: color .2s ease;
}
nav .menu .group ul li .icon {
  width: 24px;
  padding-right: 1em;
}
nav .menu .group ul li .icon i {
  color: #5d5b72;
}
nav .menu .group ul li .icon .avatar {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #82809A;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGAx2F-QfHKUshwr6pi6yBdYtYl3lvKhbCLhOEyeeUqwf-olUT");
  background-size: cover;
  background-position: center;
}
nav .menu .group ul li:hover span {
  color: #F8F6FF;
}
nav .footer {
  display: flex;
  background-color: #38375A;
  padding: 0.5em 1em;
  align-items: center;
}
nav .footer .amount {
  flex: 1;
  font-size: 1.3em;
  color: #7685C2;
}
nav .footer button {
  background-color: #6080E0;
  color: #F8F6FF;
  border: 0;
  padding: 0.75em 1em;
  font-weight: 300;
  font-size: 0.9em;
  font-family: "Ubuntu", "Helvetica", "Arial", sans-serif;
  border-radius: 1.5em;
  outline: none;
  transition: background-color .2s ease;
}
nav .footer button:hover {
  background-color: #355ed8;
}

main {
  flex: 1;
  display: flex;
  margin: 0 2em;
  overflow: auto;
}
main section {
  margin: 1em;
}
main section .title {
  display: flex;
  padding: 1em 0;
  color: #F8F6FF;
  font-weight: 300;
}
main section .title i {
  margin-right: 1em;
}
main section .title span {
  font-size: 1.5em;
  flex: 1;
}
main section .title .sort {
  display: flex;
  font-size: 0.8em;
}
main section .title .sort .caption {
  color: #82809A;
  padding-right: 0.5em;
}
main section .title .sort i.fa {
  color: #82809A;
  padding-left: 1em;
  cursor: pointer;
}
main section .card {
  background-image: linear-gradient(#333353, #2F2E4E);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 1.5em;
  margin: 1em 0;
}
main section.news {
  width: 400px;
}
main section.news .title i {
  color: #F76F9F;
}
main section.news .cards .card {
  display: flex;
  flex-direction: column;
}
main section.news .cards .card .content {
  flex: 1;
  display: flex;
}
main section.news .cards .card .content .avatar {
  border-radius: 32px;
  margin-right: 1em;
  overflow: hidden;
}
main section.news .cards .card .content .avatar img {
  width: 32px;
  height: 32px;
  border-radius: 32px;
}
main section.news .cards .card .content .text {
  flex: 1;
}
main section.news .cards .card .footer {
  margin-top: 1.5em;
  display: flex;
}
main section.news .cards .card .footer .time {
  font-size: 0.8em;
}
main section.news .cards .card .footer .center {
  flex: 1;
}
main section.news .cards .card .footer .link {
  color: #616EA9;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.9em;
  transition: color .2s ease;
}
main section.news .cards .card .footer .link i {
  padding-left: 0.5em;
}
main section.news .cards .card .footer .link:hover {
  color: #F8F6FF;
}
main section.timeline {
  flex: 1;
}
main section.timeline .title i {
  color: #F8D480;
}
main section.timeline .cards .card {
  display: flex;
  flex-direction: column;
}
main section.timeline .cards .card .content {
  flex: 1;
  display: flex;
  align-items: center;
}
main section.timeline .cards .card .content .avatar {
  border-radius: 32px;
  margin-right: 1em;
  overflow: hidden;
}
main section.timeline .cards .card .content .avatar img {
  width: 32px;
  height: 32px;
  border-radius: 32px;
}
main section.timeline .cards .card .content .input {
  flex: 1;
}
main section.timeline .cards .card .content .input input {
  width: 100%;
}
main section.timeline .cards .card .content .actions {
  margin-left: 1em;
}
main section.timeline .cards .card .content .actions i {
  padding: 0 0.5em;
  cursor: pointer;
}
main section.timeline .cards .card .content .actions i:hover {
  color: #F8F6FF;
}
main section.timeline .cards .card .footer {
  margin-top: 1.5em;
  display: flex;
}
main section.timeline .cards .card .footer .controls {
  flex: 1;
  display: flex;
  align-items: center;
}
main section.timeline .cards .card .footer .controls > div {
  margin: 0 1em;
}
main section.timeline .cards .card .footer .controls .anonymous {
  display: flex;
  align-items: center;
}
main section.timeline .cards .card .footer .controls .anonymous input[type="checkbox"] {
  background-color: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid #616EA9;
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  position: relative;
}
main section.timeline .cards .card .footer .controls .anonymous input[type="checkbox"]:checked:after {
  content: "\f00c";
  font-family: "FontAwesome";
  position: absolute;
  color: #F8F6FF;
  top: 1px;
  left: 1px;
}
main section.timeline .cards .card .footer .controls .anonymous label {
  margin-left: 0.5em;
}
main section.timeline .cards .card .footer .controls .who-can-see, main section.timeline .cards .card .footer .controls .channel {
  padding: 0.5em 1.25em;
  border: 1px solid #3a436a;
  border-radius: 1em;
  cursor: pointer;
}
main section.timeline .cards .card .footer .controls .who-can-see i, main section.timeline .cards .card .footer .controls .channel i {
  margin-left: 0.5em;
}
main section.timeline .cards .card .footer .controls .who-can-see:hover i, main section.timeline .cards .card .footer .controls .channel:hover i {
  color: #F8F6FF;
}
main section.timeline .cards .card .footer .controls .position i {
  cursor: pointer;
}
main section.timeline .cards .card .footer .controls .position i:hover {
  color: #F8F6FF;
}
main section.timeline .cards .card .footer .actions button {
  padding: 0.75em 0.8em;
  background-color: #6080E0;
  color: #F8F6FF;
  transition: background-color .2s ease;
}
main section.timeline .cards .card .footer .actions button:hover {
  background-color: #355ed8;
}
main section.timeline .cards .card .footer .actions button i {
  padding-right: 0;
  color: #F8F6FF;
}

aside {
  background-image: linear-gradient(#2E2E49, #22233B);
  width: 300px;
  overflow: auto;
}
aside section {
  padding: 2em;
  border-bottom: 1px solid #1D1F33;
}
aside section .circle-progress {
  text-align: center;
}
aside section .circle-progress svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
aside section .circle-progress svg circle.value, aside section .circle-progress svg circle.meter {
  fill: none;
}
aside section .circle-progress svg circle.meter {
  stroke: rgba(255, 255, 255, 0.05);
}
aside section .circle-progress svg circle.value {
  stroke: url(#gradientStroke);
  stroke-linecap: round;
  stroke-dashoffset: 85;
  stroke-dasharray: 339;
}
aside section .circle-progress svg text.value, aside section .circle-progress svg text.label {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  fill: #82809A;
  font-weight: 300;
}
aside section .circle-progress svg text.value {
  font-size: 2em;
}
aside section .circle-progress svg text.label {
  font-size: 0.7em;
  text-transform: uppercase;
}
aside section p {
  line-height: 1.5em;
  margin: 1em 0;
  font-size: 0.9em;
}
aside section .link {
  color: #616EA9;
  font-weight: bold;
  cursor: pointer;
  transition: color .2s ease;
}
aside section .link i {
  margin-left: 0.5em;
  color: #F8F6FF;
}
aside section .link:hover {
  color: #F8F6FF;
}
aside section .title {
  display: flex;
  margin-bottom: 1em;
}
aside section .title span {
  color: #F8F6FF;
  flex: 1;
  font-weight: 300;
}
aside section .title i {
  transition: color .2s ease;
  cursor: pointer;
}
aside section .title i:hover {
  color: #F8F6FF;
}
aside section ul.list {
  padding: 0;
  list-style: none;
}
aside section ul.list li {
  display: flex;
  padding: 1em 0;
}
aside section ul.list li .avatar {
  border-radius: 32px;
  overflow: hidden;
  margin-right: 0.5em;
}
aside section ul.list li .avatar img {
  width: 32px;
  height: 32px;
  border-radius: 32px;
}
aside section ul.list li .labels {
  flex: 1;
}
aside section ul.list li .labels .name {
  padding-bottom: 0.5em;
}
aside section ul.list li .labels .sub-name {
  font-style: italic;
  color: #5d5b72;
  padding-bottom: 0.5em;
}
aside section ul.list li .calendar {
  width: 32px;
  height: 32px;
  text-align: center;
  margin-right: 1.0em;
  margin-top: 0.25em;
  color: #F8F6FF;
  font-size: 0.8em;
  border-radius: 4px;
  padding: 0.2em;
}
aside section ul.list li .calendar .day {
  padding-top: 0.1em;
  font-size: 1.25em;
}
aside section ul.list li .calendar.teal {
  background-image: linear-gradient(#4FD2D8, #2192C0);
  box-shadow: 0px 3px 3px rgba(33, 146, 192, 0.5);
}
aside section ul.list li .calendar.orange {
  background-image: linear-gradient(#E3836D, #E36385);
  box-shadow: 0px 3px 3px rgba(227, 99, 133, 0.5);
}
aside section ul.list li .calendar.viola {
  background-image: linear-gradient(#6061DC, #9949D4);
  box-shadow: 0px 3px 3px rgba(153, 73, 212, 0.5);
}

/* scrollbar design Chrome */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #82809A;
  border-radius: 1ex;
  border: none;
}

::-webkit-scrollbar-corner {
  background: #1D1F33;
}